<div v-if="activeSubTab === 0">
  <!--Start of TAB 0-->

  <h2 class="text-2xl font-semibold italic text-primary-800 dark:text-primary-400">Address Information</h2>
  <h2 class="pb-6 text-xl font-medium italic text-primary-800 dark:text-primary-400">Residential Address</h2>
  <div class="flex flex-col gap-4">
    <div class="flex flex-col gap-4 md:flex-row">
      <div class="flex w-full flex-col">
        <WbAutoComplete
          v-model="selectedResidentialProvince"
          :suggestions="filteredProvinceOptionsByRegion"
          label=" Province "
          label-class="mb-0 text-xs text-surface-600 red-aesterisk-label"
          optionLabel="label"
          :placeholder="'Select or Type your Province'"
          forceSelection
          @on-true-value-computed="
                  (value: WbAutoCompleteOptionTrueValue) =>
                    useWbAutoCompleteHandleTrueValue(value, toRef(payload, 'residential_province_id'))
                "
          :loading="publicStore.provinceOptionsIsLoading"
          dropdown
          dropdownClass="bg-transparent"
        >
        </WbAutoComplete>
      </div>
      <div class="flex w-full flex-col">
        <WbAutoComplete
          v-model="selectedResidentialCity"
          :suggestions="filteredCityOptionsByProvince"
          label=" City/Municipality "
          label-class="mb-0 text-xs text-surface-600 red-aesterisk-label"
          optionLabel="label"
          :placeholder="'Select or Type your City/Municipality'"
          forceSelection
          @on-true-value-computed="
                  (value: WbAutoCompleteOptionTrueValue) =>
                    useWbAutoCompleteHandleTrueValue(value, toRef(payload, 'residential_citynum_id'))
                "
          :loading="publicStore.cityOptionsIsLoading"
          :virtualScrollerOptions="{ itemSize: 38 }"
          dropdown
          dropdownClass="bg-transparent"
        >
        </WbAutoComplete>
      </div>
    </div>
    <div class="flex flex-col gap-4 md:flex-row">
      <div class="flex w-full flex-col">
        <WbAutoComplete
          v-model="selectedResidentialBarangay"
          :suggestions="filteredBarangayOptionsByCity"
          label=" Barangay "
          label-class="mb-0 text-xs text-surface-600 red-aesterisk-label"
          optionLabel="label"
          :placeholder="'Select  your Barangay'"
          forceSelection
          @on-true-value-computed="
                  (value: WbAutoCompleteOptionTrueValue) =>
                    useWbAutoCompleteHandleTrueValue(value, toRef(payload, 'residential_brgy_id'))
                "
          :loading="publicStore.barangayOptionsIsLoading"
          :virtualScrollerOptions="{ itemSize: 38 }"
          dropdown
          dropdownClass="bg-transparent"
        >
        </WbAutoComplete>
      </div>
      <div class="flex w-full flex-col">
        <label for="period" class="mb-0 text-xs text-surface-600">
          Subdivision/Village <span class="text-error-500">*</span>
        </label>
        <WbInputText label="" value="N/A"> </WbInputText>
      </div>
    </div>
    <div class="flex flex-col gap-4 md:flex-row">
      <div class="flex w-full flex-col">
        <label for="period" class="mb-0 text-xs text-surface-600">
          Subdivision/Village <span class="text-error-500">*</span>
        </label>
        <WbInputText label="" value="N/A"> </WbInputText>
      </div>
    </div>
    <div class="flex flex-col gap-4 md:flex-row">
      <div class="flex w-full flex-col">
        <label for="period" class="mb-0 text-xs text-surface-600"> Street <span class="text-error-500">*</span> </label>
        <WbInputText label="" value="N/A"> </WbInputText>
      </div>
      <div class="flex w-full flex-col">
        <label for="period" class="mb-0 text-xs text-surface-600">
          House / Block / Lot No <span class="text-error-500">*</span>
        </label>
        <WbInputText label="" value="N/A"> </WbInputText>
      </div>
    </div>
    <div class="flex flex-col gap-4 pb-6 md:flex-row">
      <div class="flex w-full flex-col">
        <label for="period" class="mb-0 text-xs text-surface-600"> Zip Code <span class="text-error-500">*</span> </label>
        <WbInputText label="" value="N/A"> </WbInputText>
      </div>
    </div>
  </div>
  <!--End of Residential Information-->

  <!--Start of Permanent Information-->
  <h2 class="pb-2 text-xl font-medium italic text-primary-800 dark:text-primary-400">Permanent Address</h2>
  <div class="mPermanent Adb-4 flex items-center">
    <input
      type="checkbox"
      v-model="payload.first_name"
      class="h-4 w-4 rounded border-gray-300 bg-gray-100 text-blue-600 focus:ring-2 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-blue-600"
    />
    <label for="same_AsResidential" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300"
      >My permanent address is the same with residential address</label
    >
  </div>
  <div class="flex flex-col gap-4 pb-6">
    <div class="flex flex-col gap-4 md:flex-row">
      <div class="flex w-full flex-col">
        <label for="period" class="mb-0 text-xs text-surface-600"> Province <span class="text-error-500">*</span> </label>
        <WbAutoComplete
          v-model="selectedResidentialProvince"
          :suggestions="filteredProvinceOptionsByRegion"
          label=""
          optionLabel="label"
          :placeholder="'Select or Type your Province'"
          forceSelection
          @on-true-value-computed="
                  (value: WbAutoCompleteOptionTrueValue) =>
                    useWbAutoCompleteHandleTrueValue(value, toRef(payload, 'permanent_province_id'))
                "
          :loading="publicStore.provinceOptionsIsLoading"
          dropdown
          dropdownClass="bg-transparent"
        >
        </WbAutoComplete>
      </div>
      <div class="flex w-full flex-col">
        <label for="period" class="mb-0 text-xs text-surface-600">
          City/Municipality <span class="text-error-500">*</span>
        </label>
        <WbAutoComplete
          v-model="selectedResidentialCity"
          :suggestions="filteredCityOptionsByProvince"
          label=""
          optionLabel="label"
          :placeholder="'Select or Type your City/Municipality'"
          forceSelection
          @on-true-value-computed="
                  (value: WbAutoCompleteOptionTrueValue) =>
                    useWbAutoCompleteHandleTrueValue(value, toRef(payload, 'permanent_citynum_id'))
                "
          :loading="publicStore.cityOptionsIsLoading"
          :virtualScrollerOptions="{ itemSize: 38 }"
          dropdown
          dropdownClass="bg-transparent"
        >
        </WbAutoComplete>
      </div>
    </div>
    <div class="flex flex-col gap-4 md:flex-row">
      <div class="flex w-full flex-col">
        <label for="period" class="mb-0 text-xs text-surface-600"> Barangay <span class="text-error-500">*</span> </label>
        <WbAutoComplete
          v-model="selectedResidentialBarangay"
          :suggestions="filteredBarangayOptionsByCity"
          label=""
          optionLabel="label"
          :placeholder="'Type your Barangay'"
          forceSelection
          @on-true-value-computed="
                  (value: WbAutoCompleteOptionTrueValue) =>
                    useWbAutoCompleteHandleTrueValue(value, toRef(payload, 'permanent_brgy_id'))
                "
          :loading="publicStore.barangayOptionsIsLoading"
          :virtualScrollerOptions="{ itemSize: 38 }"
        >
        </WbAutoComplete>
      </div>
      <div class="flex w-full flex-col">
        <label for="period" class="mb-0 text-xs text-surface-600">
          Subdivision/Village <span class="text-error-500">*</span>
        </label>
        <WbInputText label="" value="N/A"> </WbInputText>
      </div>
    </div>
    <div class="flex flex-col gap-4 md:flex-row">
      <div class="flex w-full flex-col">
        <label for="period" class="mb-0 text-xs text-surface-600"> Street <span class="text-error-500">*</span> </label>
        <WbInputText label="" value="N/A"> </WbInputText>
      </div>
      <div class="flex w-full flex-col">
        <label for="period" class="mb-0 text-xs text-surface-600">
          House / Block / Lot No <span class="text-error-500">*</span>
        </label>
        <WbInputText label="" value="N/A"> </WbInputText>
      </div>
    </div>
    <div class="flex flex-col gap-4 md:flex-row">
      <div class="flex w-full flex-col">
        <label for="period" class="mb-0 text-xs text-surface-600"> Zip Code <span class="text-error-500">*</span> </label>
        <WbInputText label="" value="N/A"> </WbInputText>
      </div>
    </div>
    <!--End of Address Information-->
  </div>
  <!--End of Permanent Information-->
</div>
<!--End of TAB 0-->

<div v-if="activeSubTab === 1">
  <!--Start of TAB 1 -->
  <!--Start of Family Background-->
  <h2 class="text-2xl font-semibold italic text-primary-800 dark:text-primary-400">II. Family Background</h2>
  <!--Start of Spouse Fields-->
  <div class="flex flex-col gap-4">
    <h2 class="text-xl font-medium italic text-primary-800 dark:text-primary-400">Spouse</h2>
    <div class="flex flex-col gap-4">
      <div class="grid grid-cols-12 flex-col gap-4 md:flex-row">
        <div class="col-span-12 flex w-full flex-col md:col-span-4">
          <WbInputText
            v-model="payload.family_last_name"
            label=" Surname "
            label-class="mb-0 text-xs text-surface-600 red-aesterisk-label"
            :invalid="validator.family_last_name.$invalid"
            :invalid-text="validator.family_last_name.$errors[0]?.$message"
            @blur="validator.family_last_name.$touch"
          >
          </WbInputText>
        </div>
        <div class="col-span-12 flex w-full flex-col md:col-span-3">
          <WbInputText
            v-model="payload.family_first_name"
            label=" First Name "
            label-class="mb-0 text-xs text-surface-600 red-aesterisk-label"
            :invalid="validator.family_first_name.$invalid"
            :invalid-text="validator.family_first_name.$errors[0]?.$message"
            @blur="validator.family_first_name.$touch"
          >
          </WbInputText>
        </div>
        <div class="col-span-12 flex w-full flex-col md:col-span-3">
          <WbInputText
            v-model="payload.family_middle_name"
            label=" Middle Name "
            label-class="mb-0 text-xs text-surface-600 red-aesterisk-label"
            :invalid="validator.family_middle_name.$invalid"
            :invalid-text="validator.family_middle_name.$errors[0]?.$message"
            @blur="validator.family_middle_name.$touch"
          >
          </WbInputText>
        </div>
        <div class="col-span-12 flex w-full flex-col md:col-span-2">
          <WbDropdown
            v-model="payload.family_ext_name"
            label=" Name Ext "
            label-class="mb-0 text-xs text-surface-600 red-aesterisk-label"
            :options="ExtensionTypeOptions"
            :invalid="validator.family_ext_name.$invalid"
            :invalid-text="validator.family_ext_name.$errors[0]?.$message"
            optionLabel="label"
            optionValue="value"
          ></WbDropdown>
        </div>
      </div>
      <div class="grid grid-cols-12 flex-col gap-4 md:flex-row">
        <div class="col-span-12 flex w-full flex-col md:col-span-3">
          <WbInputText
            v-model="payload.family_occupation"
            label=" Occupation "
            label-class="mb-0 text-xs text-surface-600 red-aesterisk-label"
            :invalid="validator.occupation.$invalid"
            :invalid-text="validator.occupation.$errors[0]?.$message"
            @blur="validator.occupation.$touch"
          >
          </WbInputText>
        </div>
        <div class="col-span-12 flex w-full flex-col md:col-span-3">
          <WbInputText
            v-model="payload.family_employers_business_name"
            label=" Employee / Business Name "
            label-class="mb-0 text-xs text-surface-600 red-aesterisk-label"
            :invalid="validator.employers_business_name.$invalid"
            :invalid-text="validator.employers_business_name.$errors[0]?.$message"
            @blur="validator.employers_business_name.$touch"
          >
          </WbInputText>
        </div>
        <div class="col-span-12 flex w-full flex-col md:col-span-3">
          <WbInputText
            v-model="payload.family_business_address"
            label="  Business Address "
            label-class="mb-0 text-xs text-surface-600 red-aesterisk-label"
            :invalid="validator.business_address.$invalid"
            :invalid-text="validator.business_address.$errors[0]?.$message"
            @blur="validator.business_address.$touch"
          >
          </WbInputText>
        </div>
        <div class="col-span-12 flex w-full flex-col pb-6 md:col-span-3">
          <label for="period" class="mb-0 pb-2 text-xs text-surface-600">
            Telephone No. <span class="text-error-500">*</span>
          </label>
          <InputMask
            v-model="payload.family_telephone_no"
            label="  Telephone No "
            label-class="mb-0 text-xs text-surface-600 red-aesterisk-label"
            mask="999 999 9999"
            placeholder="XXX XXX XXXX"
            :invalid="validator.family_telephone_no.$invalid"
            :invalid-text="validator.family_telephone_no.$errors[0]?.$message"
            @blur="validator.family_telephone_no.$touch"
            fluid
            class="h-12 rounded border px-4 py-6"
          >
          </InputMask>
        </div>
      </div>
    </div>
    <!--End of Spouse Fields-->
    <!--Start of Father Fields-->
    <h2 class="text-xl font-medium italic text-primary-800 dark:text-primary-400">Father</h2>
    <div class="flex flex-col gap-4">
      <div class="grid grid-cols-12 flex-col gap-4 md:flex-row">
        <div class="col-span-12 flex w-full flex-col md:col-span-4">
          <WbInputText
            v-model="payload.family_last_name"
            label=" Surname "
            label-class="mb-0 text-xs text-surface-600 red-aesterisk-label"
            :invalid="validator.family_last_name.$invalid"
            :invalid-text="validator.family_last_name.$errors[0]?.$message"
            @blur="validator.family_last_name.$touch"
          >
          </WbInputText>
        </div>
        <div class="col-span-12 flex w-full flex-col md:col-span-3">
          <WbInputText
            v-model="payload.family_first_name"
            label=" First Name "
            label-class="mb-0 text-xs text-surface-600 red-aesterisk-label"
            :invalid="validator.family_first_name.$invalid"
            :invalid-text="validator.family_first_name.$errors[0]?.$message"
            @blur="validator.family_last_name.$touch"
          >
          </WbInputText>
        </div>
        <div class="col-span-12 flex w-full flex-col md:col-span-3">
          <WbInputText
            v-model="payload.family_middle_name"
            label=" Middle Name "
            label-class="mb-0 text-xs text-surface-600 red-aesterisk-label"
            :invalid="validator.family_middle_name.$invalid"
            :invalid-text="validator.family_middle_name.$errors[0]?.$message"
            @blur="validator.family_middle_name.$touch"
          >
          </WbInputText>
        </div>
        <div class="col-span-12 flex w-full flex-col md:col-span-2">
          <WbDropdown
            v-model="payload.family_ext_name"
            label=" Name Ext "
            label-class="mb-0 text-xs text-surface-600 red-aesterisk-label"
            :options="ExtensionTypeOptions"
            optionLabel="label"
            optionValue="value"
          ></WbDropdown>
        </div>
      </div>
    </div>
    <!--End of Father Fields-->
    <!--Start of Mother's Maiden Name Fields-->
    <h2 class="text-xl font-medium italic text-primary-800 dark:text-primary-400">Mother's Maiden Name</h2>
    <div class="flex flex-col gap-4">
      <div class="flex flex-col gap-4 md:flex-row">
        <div class="flex w-full flex-col">
          <WbInputText
            v-model="payload.family_last_name"
            label="Surname "
            label-class="mb-0 text-xs text-surface-600 red-aesterisk-label"
            :invalid="validator.family_last_name.$invalid"
            :invalid-text="validator.family_last_name.$errors[0]?.$message"
            @blur="validator.family_last_name.$touch"
          >
          </WbInputText>
        </div>
        <div class="flex w-full flex-col">
          <WbInputText
            v-model="payload.family_first_name"
            label=" First Name "
            label-class="mb-0 text-xs text-surface-600 red-aesterisk-label"
            :invalid="validator.family_first_name.$invalid"
            :invalid-text="validator.family_first_name.$errors[0]?.$message"
            @blur="validator.family_first_name.$touch"
          >
          </WbInputText>
        </div>
        <div class="flex w-full flex-col">
          <WbInputText
            v-model="payload.family_middle_name"
            label=" Middle Name "
            label-class="mb-0 text-xs text-surface-600 red-aesterisk-label"
            :invalid="validator.family_middle_name.$invalid"
            :invalid-text="validator.family_middle_name.$errors[0]?.$message"
            @blur="validator.family_middle_name.$touch"
          >
          </WbInputText>
        </div>
      </div>
    </div>
    <!--End of Mother's Maiden Name Fields-->
    <!--Start of Children Fields-->
    <h2 class="text-xl font-medium italic text-primary-800 dark:text-primary-400">Children</h2>
    <div class="flex flex-col gap-4 pb-6">
      <div
        v-for="(newpersonnelfamily, index) in newpersonnelfamilies"
        :key="index"
        class="relative grid grid-cols-12 flex-col gap-4 md:flex-row"
      >
        <div class="col-span-12 flex w-full flex-col md:col-span-3">
          <WbInputText
            v-model="newpersonnelfamily.family_last_name"
            label=" Middle Name "
            label-class="mb-0 text-xs text-surface-600 red-aesterisk-label"
            :invalid="validator.family_last_name.$invalid"
            :invalid-text="validator.family_last_name.$errors[0]?.$message"
            @blur="validator.family_last_name.$touch"
          >
          </WbInputText>
        </div>
        <div class="col-span-12 flex w-full flex-col md:col-span-3">
          <WbInputText
            v-model="newpersonnelfamily.family_first_name"
            label=" Middle Name "
            label-class="mb-0 text-xs text-surface-600 red-aesterisk-label"
            :invalid="validator.family_first_name.$invalid"
            :invalid-text="validator.family_first_name.$errors[0]?.$message"
            @blur="validator.family_first_name.$touch"
          >
          </WbInputText>
        </div>
        <div class="col-span-12 flex w-full flex-col md:col-span-2">
          <WbInputText
            v-model="newpersonnelfamily.family_middle_name"
            label=" Middle Name "
            label-class="mb-0 text-xs text-surface-600 red-aesterisk-label"
            :invalid="validator.family_middle_name.$invalid"
            :invalid-text="validator.family_middle_name.$errors[0]?.$message"
            @blur="validator.family_middle_name.$touch"
          >
          </WbInputText>
        </div>
        <div class="col-span-12 flex w-full flex-col md:col-span-2">
          <WbDropdown
            v-model="newpersonnelfamily.family_extension_name"
            label=" Name Ext "
            label-class="mb-0 text-xs text-surface-600 red-aesterisk-label"
            :options="ExtensionTypeOptions"
            value="N/A"
            placeholder="N/A"
            optionLabel="label"
            optionValue="value"
          ></WbDropdown>
        </div>
        <div class="col-span-12 flex w-full flex-col md:col-span-2">
          <WbInputText
            v-model="newpersonnelfamily.family_date_of_birth"
            label=" Date of Birth "
            label-class="mb-0 text-xs text-surface-600 red-aesterisk-label"
            :invalid="validator.family_date_of_birth.$invalid"
            :invalid-text="validator.family_date_of_birth.$errors[0]?.$message"
            @blur="validator.family_date_of_birth.$touch"
          >
          </WbInputText>
        </div>
        <div class="absolute right-0 top-6 mt-2 md:mt-0">
          <button
            icon="pi pi-trash"
            severity="danger"
            rounded
            @click="removePersonnelFamily(index)"
            v-if="newpersonnelfamilies.length > 1"
            class="mt-2"
          />
        </div>
        <Divider layout="horizontal" class="mt-4 md:hidden" v-if="index < newpersonnelfamilies.length - 1" />
      </div>
      <div class="flex flex-col gap-2">
        <div class="flex w-full">
          <hr />
          <button
            icon="pi pi-plus"
            label="Add additional child field"
            @click="addAdditionalPersonnelFamily"
            class="dark:text-secondary-100 border border-primary-600 text-sm text-primary-600 dark:border-surface-600 lg:text-primary-600 dark:lg:text-surface-400"
            text
          />
        </div>
      </div>
    </div>
  </div>
</div>
<!--end of TAB 1 -->

<div v-if="activeSubTab === 2">
  <!--Start of TAB 2 -->
  <!--Start of Educational Background-->
  <h2 class="text-2xl font-semibold italic text-primary-800 dark:text-primary-400">III. Educational Background</h2>
  <!--Start of Elementary Fields-->
  <div class="flex flex-col gap-4">
    <h2 class="text-xl font-medium italic text-primary-800 dark:text-primary-400">Elementary</h2>
    <div class="flex flex-col gap-4">
      <div class="flex flex-col gap-4 md:flex-row">
        <div class="flex w-full flex-col">
          <label for="period" class="mb-0 text-xs text-surface-600"> Name of School <span class="text-error-500">*</span> </label>
          <WbInputText label="" value="N/A"> </WbInputText>
        </div>
        <div class="flex w-full flex-col">
          <label for="period" class="mb-0 text-xs text-surface-600">
            Basic Education / Degree / Course<span class="text-error-500">*</span>
          </label>
          <WbInputText label="" value="N/A"> </WbInputText>
        </div>
      </div>
      <div class="grid grid-cols-12 flex-col gap-4 md:flex-row">
        <div class="col-span-12 flex w-full flex-col md:col-span-1">
          <label for="period" class="mb-0 whitespace-nowrap text-xs text-surface-600">
            From <span class="text-error-500">*</span>
          </label>
          <WbInputText label="" value="N/A"> </WbInputText>
        </div>
        <div class="col-span-12 flex w-full flex-col md:col-span-1">
          <label for="period" class="mb-0 whitespace-nowrap text-xs text-surface-600">
            To <span class="text-error-500">*</span>
          </label>
          <WbInputText label="" value="N/A"> </WbInputText>
        </div>
        <div class="col-span-12 flex w-full flex-col md:col-span-4">
          <label for="period" class="mb-0 whitespace-nowrap text-xs text-surface-600">
            Highest Level/ Units Earned <span class="text-error-500">*</span>
          </label>
          <WbInputText label="" value="N/A"> </WbInputText>
        </div>
        <div class="col-span-12 flex w-full flex-col md:col-span-2">
          <label for="period" class="mb-0 whitespace-nowrap text-xs text-surface-600">
            Year Graduated <span class="text-error-500">*</span>
          </label>
          <WbInputText label="" value="N/A"> </WbInputText>
        </div>
        <div class="col-span-12 flex w-full flex-col pb-6 md:col-span-4">
          <label for="period" class="mb-0 whitespace-nowrap text-xs text-surface-600">
            Scholarship / Academic Honors Received<span class="text-error-500">*</span>
          </label>
          <WbInputText label="" value="N/A"> </WbInputText>
        </div>
      </div>
    </div>
    <!--End of Elementary Fields-->
    <!--Start of Secondary Fields-->
    <h2 class="text-xl font-medium italic text-primary-800 dark:text-primary-400">Secondary</h2>
    <div class="flex flex-col gap-4">
      <div class="flex flex-col gap-4">
        <div class="flex flex-col gap-4 md:flex-row">
          <div class="flex w-full flex-col">
            <WbInputText
              v-model="payload.schools_name"
              label=" Name of School  "
              label-class="mb-0 text-xs text-surface-600 red-aesterisk-label"
              :invalid="validator.schools_name.$invalid"
              :invalid-text="validator.schools_name.$errors[0]?.$message"
              @blur="validator.schools_name.$touch"
            >
            </WbInputText>
          </div>
          <div class="flex w-full flex-col">
            <WbInputText
              v-model="payload.level"
              label=" Basic Education / Degree / Course "
              label-class="mb-0 text-xs text-surface-600 red-aesterisk-label"
              :invalid="validator.level.$invalid"
              :invalid-text="validator.level.$errors[0]?.$message"
              @blur="validator.level.$touch"
            >
            </WbInputText>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-12 flex-col gap-4 md:flex-row">
        <div class="col-span-12 flex w-full flex-col md:col-span-1">
          <WbInputText
            v-model="payload.period_of_attendance_from"
            label=" From "
            label-class="mb-0 text-xs text-surface-600 red-aesterisk-label"
            :invalid="validator.period_of_attendance_from.$invalid"
            :invalid-text="validator.period_of_attendance_from.$errors[0]?.$message"
            @blur="validator.period_of_attendance_from.$touch"
          >
          </WbInputText>
        </div>
        <div class="col-span-12 flex w-full flex-col md:col-span-1">
          <WbInputText
            v-model="payload.period_of_attendance_to"
            label=" To "
            label-class="mb-0 text-xs text-surface-600 red-aesterisk-label"
            :invalid="validator.period_of_attendance_to.$invalid"
            :invalid-text="validator.period_of_attendance_to.$errors[0]?.$message"
            @blur="validator.period_of_attendance_to.$touch"
          >
          </WbInputText>
        </div>
        <div class="col-span-12 flex w-full flex-col md:col-span-4">
          <WbInputText
            v-model="payload.highest_level_units_earned"
            label=" Highest Level/ Units Earned "
            label-class="mb-0 text-xs text-surface-600 red-aesterisk-label"
            :invalid="validator.highest_level_units_earned.$invalid"
            :invalid-text="validator.highest_level_units_earned.$errors[0]?.$message"
            @blur="validator.highest_level_units_earned.$touch"
          >
          </WbInputText>
        </div>
        <div class="col-span-12 flex w-full flex-col md:col-span-2">
          <WbInputText
            v-model="payload.year_graduated"
            label=" Year Graduated "
            label-class="mb-0 text-xs text-surface-600 red-aesterisk-label"
            :invalid="validator.year_graduated.$invalid"
            :invalid-text="validator.year_graduated.$errors[0]?.$message"
            @blur="validator.year_graduated.$touch"
          >
          </WbInputText>
        </div>
        <div class="col-span-12 flex w-full flex-col pb-6 md:col-span-4">
          <WbInputText
            v-model="payload.scholarship_academic_honors_received"
            label=" Scholarship / Academic Honors Received "
            label-class="mb-0 text-xs text-surface-600 red-aesterisk-label"
            :invalid="validator.scholarship_academic_honors_received.$invalid"
            :invalid-text="validator.scholarship_academic_honors_received.$errors[0]?.$message"
            @blur="validator.scholarship_academic_honors_received.$touch"
          >
          </WbInputText>
        </div>
      </div>
    </div>
    <!--End of Secondary Fields-->
    <!--Start of Vocational / Trade Course Fields-->
    <h2 class="text-xl font-medium italic text-primary-800 dark:text-primary-400">Vocational / Trade Course</h2>
    <div class="flex flex-col gap-4">
      <div class="flex flex-col gap-4">
        <div class="flex flex-col gap-4 md:flex-row">
          <div class="flex w-full flex-col">
            <WbInputText
              v-model="payload.schools_name"
              label=" Name of School  "
              label-class="mb-0 text-xs text-surface-600 red-aesterisk-label"
              :invalid="validator.schools_name.$invalid"
              :invalid-text="validator.schools_name.$errors[0]?.$message"
              @blur="validator.schools_name.$touch"
            >
            </WbInputText>
          </div>
          <div class="flex w-full flex-col">
            <WbInputText
              v-model="payload.level"
              label=" Basic Education / Degree / Course "
              label-class="mb-0 text-xs text-surface-600 red-aesterisk-label"
              :invalid="validator.level.$invalid"
              :invalid-text="validator.level.$errors[0]?.$message"
              @blur="validator.level.$touch"
            >
            </WbInputText>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-12 flex-col gap-4 md:flex-row">
        <div class="col-span-12 flex w-full flex-col md:col-span-1">
          <WbInputText
            v-model="payload.period_of_attendance_from"
            label=" From "
            label-class="mb-0 text-xs text-surface-600 red-aesterisk-label"
            :invalid="validator.period_of_attendance_from.$invalid"
            :invalid-text="validator.period_of_attendance_from.$errors[0]?.$message"
            @blur="validator.period_of_attendance_from.$touch"
          >
          </WbInputText>
        </div>
        <div class="col-span-12 flex w-full flex-col md:col-span-1">
          <WbInputText
            v-model="payload.period_of_attendance_to"
            label=" To "
            label-class="mb-0 text-xs text-surface-600 red-aesterisk-label"
            :invalid="validator.period_of_attendance_to.$invalid"
            :invalid-text="validator.period_of_attendance_to.$errors[0]?.$message"
            @blur="validator.period_of_attendance_to.$touch"
          >
          </WbInputText>
        </div>
        <div class="col-span-12 flex w-full flex-col md:col-span-4">
          <WbInputText
            v-model="payload.highest_level_units_earned"
            label=" Highest Level/ Units Earned "
            label-class="mb-0 text-xs text-surface-600 red-aesterisk-label"
            :invalid="validator.highest_level_units_earned.$invalid"
            :invalid-text="validator.highest_level_units_earned.$errors[0]?.$message"
            @blur="validator.highest_level_units_earned.$touch"
          >
          </WbInputText>
        </div>
        <div class="col-span-12 flex w-full flex-col md:col-span-2">
          <WbInputText
            v-model="payload.year_graduated"
            label=" Year Graduated "
            label-class="mb-0 text-xs text-surface-600 red-aesterisk-label"
            :invalid="validator.year_graduated.$invalid"
            :invalid-text="validator.year_graduated.$errors[0]?.$message"
            @blur="validator.year_graduated.$touch"
          >
          </WbInputText>
        </div>
        <div class="col-span-12 flex w-full flex-col pb-6 md:col-span-4">
          <WbInputText
            v-model="payload.scholarship_academic_honors_received"
            label=" Scholarship / Academic Honors Received "
            label-class="mb-0 text-xs text-surface-600 red-aesterisk-label"
            :invalid="validator.scholarship_academic_honors_received.$invalid"
            :invalid-text="validator.scholarship_academic_honors_received.$errors[0]?.$message"
            @blur="validator.scholarship_academic_honors_received.$touch"
          >
          </WbInputText>
        </div>
      </div>
    </div>
    <!--End of Vocational / Trade Course Fields-->
    <!--Start of College Fields-->
    <h2 class="text-xl font-medium italic text-primary-800 dark:text-primary-400">College</h2>
    <div class="flex flex-col gap-4">
      <div class="flex flex-col gap-4 md:flex-row">
        <div class="flex w-full flex-col">
          <WbInputText
            v-model="payload.schools_name"
            label=" Name of School  "
            label-class="mb-0 text-xs text-surface-600 red-aesterisk-label"
            :invalid="validator.schools_name.$invalid"
            :invalid-text="validator.schools_name.$errors[0]?.$message"
            @blur="validator.schools_name.$touch"
          >
          </WbInputText>
        </div>
        <div class="flex w-full flex-col">
          <WbInputText
            v-model="payload.level"
            label=" Basic Education / Degree / Course "
            label-class="mb-0 text-xs text-surface-600 red-aesterisk-label"
            :invalid="validator.level.$invalid"
            :invalid-text="validator.level.$errors[0]?.$message"
            @blur="validator.level.$touch"
          >
          </WbInputText>
        </div>
      </div>
      <div class="grid grid-cols-12 flex-col gap-4 md:flex-row">
        <div class="col-span-12 flex w-full flex-col md:col-span-1">
          <WbInputText
            v-model="payload.period_of_attendance_from"
            label=" From "
            label-class="mb-0 text-xs text-surface-600 red-aesterisk-label"
            :invalid="validator.period_of_attendance_from.$invalid"
            :invalid-text="validator.period_of_attendance_from.$errors[0]?.$message"
            @blur="validator.period_of_attendance_from.$touch"
          >
          </WbInputText>
        </div>
        <div class="col-span-12 flex w-full flex-col md:col-span-1">
          <WbInputText
            v-model="payload.period_of_attendance_to"
            label=" To "
            label-class="mb-0 text-xs text-surface-600 red-aesterisk-label"
            :invalid="validator.period_of_attendance_to.$invalid"
            :invalid-text="validator.period_of_attendance_to.$errors[0]?.$message"
            @blur="validator.period_of_attendance_to.$touch"
          >
          </WbInputText>
        </div>
        <div class="col-span-12 flex w-full flex-col md:col-span-4">
          <WbInputText
            v-model="payload.highest_level_units_earned"
            label=" Highest Level/ Units Earned "
            label-class="mb-0 text-xs text-surface-600 red-aesterisk-label"
            :invalid="validator.highest_level_units_earned.$invalid"
            :invalid-text="validator.highest_level_units_earned.$errors[0]?.$message"
            @blur="validator.highest_level_units_earned.$touch"
          >
          </WbInputText>
        </div>
        <div class="col-span-12 flex w-full flex-col md:col-span-2">
          <WbInputText
            v-model="payload.year_graduated"
            label=" Year Graduated "
            label-class="mb-0 text-xs text-surface-600 red-aesterisk-label"
            :invalid="validator.year_graduated.$invalid"
            :invalid-text="validator.year_graduated.$errors[0]?.$message"
            @blur="validator.year_graduated.$touch"
          >
          </WbInputText>
        </div>
        <div class="col-span-12 flex w-full flex-col pb-6 md:col-span-4">
          <WbInputText
            v-model="payload.scholarship_academic_honors_received"
            label=" Scholarship / Academic Honors Received "
            label-class="mb-0 text-xs text-surface-600 red-aesterisk-label"
            :invalid="validator.scholarship_academic_honors_received.$invalid"
            :invalid-text="validator.scholarship_academic_honors_received.$errors[0]?.$message"
            @blur="validator.scholarship_academic_honors_received.$touch"
          >
          </WbInputText>
        </div>
      </div>
    </div>
    <!--End of College Fields-->
    <!--Start of Graduate Studies Fields-->
    <h2 class="text-xl font-medium italic text-primary-800 dark:text-primary-400">Graduate Studies</h2>
    <div
      v-for="(newpersonneleducationbackground, index) in newpersonneleducationbackgrounds"
      :key="index"
      class="flex flex-col gap-4"
    >
      <div class="flex flex-col gap-4 md:flex-row">
        <div class="flex w-full flex-col">
          <WbInputText
            v-model="payload.schools_name"
            label=" Name of School  "
            label-class="mb-0 text-xs text-surface-600 red-aesterisk-label"
            :invalid="validator.schools_name.$invalid"
            :invalid-text="validator.schools_name.$errors[0]?.$message"
            @blur="validator.schools_name.$touch"
          >
          </WbInputText>
        </div>
        <div class="flex w-full flex-col">
          <WbInputText
            v-model="payload.level"
            label=" Basic Education / Degree / Course "
            label-class="mb-0 text-xs text-surface-600 red-aesterisk-label"
            :invalid="validator.level.$invalid"
            :invalid-text="validator.level.$errors[0]?.$message"
            @blur="validator.level.$touch"
          >
          </WbInputText>
        </div>
      </div>
      <div class="grid grid-cols-12 flex-col gap-4 md:flex-row">
        <div class="col-span-12 flex w-full flex-col md:col-span-1">
          <WbInputText
            v-model="payload.period_of_attendance_from"
            label=" From "
            label-class="mb-0 text-xs text-surface-600 red-aesterisk-label"
            :invalid="validator.period_of_attendance_from.$invalid"
            :invalid-text="validator.period_of_attendance_from.$errors[0]?.$message"
            @blur="validator.period_of_attendance_from.$touch"
          >
          </WbInputText>
        </div>
        <div class="col-span-12 flex w-full flex-col md:col-span-1">
          <WbInputText
            v-model="newpersonneleducationbackground.period_of_attendance_to"
            label=" To "
            label-class="mb-0 text-xs text-surface-600 red-aesterisk-label"
            :invalid="validator.period_of_attendance_to.$invalid"
            :invalid-text="validator.period_of_attendance_to.$errors[0]?.$message"
            @blur="validator.period_of_attendance_to.$touch"
          >
          </WbInputText>
        </div>
        <div class="col-span-12 flex w-full flex-col md:col-span-4">
          <WbInputText
            v-model="newpersonneleducationbackground.highest_level_units_earned"
            label=" Highest Level/ Units Earned "
            label-class="mb-0 text-xs text-surface-600 red-aesterisk-label"
            :invalid="validator.highest_level_units_earned.$invalid"
            :invalid-text="validator.highest_level_units_earned.$errors[0]?.$message"
            @blur="validator.highest_level_units_earned.$touch"
          >
          </WbInputText>
        </div>
        <div class="col-span-12 flex w-full flex-col md:col-span-2">
          <WbInputText
            v-model="newpersonneleducationbackground.year_graduated"
            label=" Year Graduated "
            label-class="mb-0 text-xs text-surface-600 red-aesterisk-label"
            :invalid="validator.year_graduated.$invalid"
            :invalid-text="validator.year_graduated.$errors[0]?.$message"
            @blur="validator.year_graduated.$touch"
          >
          </WbInputText>
        </div>
        <div class="col-span-12 flex w-full flex-col pb-6 md:col-span-4">
          <WbInputText
            v-model="newpersonneleducationbackground.scholarship_academic_honors_received"
            label=" Scholarship / Academic Honors Received "
            label-class="mb-0 text-xs text-surface-600 red-aesterisk-label"
            :invalid="validator.scholarship_academic_honors_received.$invalid"
            :invalid-text="validator.scholarship_academic_honors_received.$errors[0]?.$message"
            @blur="validator.scholarship_academic_honors_received.$touch"
          >
          </WbInputText>
        </div>
        <div class="absolute right-0 top-2 md:top-2">
          <button
            icon="pi pi-trash"
            severity="danger"
            rounded
            @click="removePersonnelEducationalBackground(index)"
            v-if="newpersonneleducationbackgrounds.length > 1"
            class="mt-2"
          />
        </div>
        <Divider layout="horizontal" class="mt-4 md:hidden" v-if="index < newpersonneleducationbackgrounds.length - 1" />
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <div class="flex w-full">
        <button
          icon="pi pi-plus"
          label="Add additional education field"
          @click="addAdditionalPersonnelEducationBackground"
          class="dark:text-secondary-100 border border-primary-600 text-sm text-primary-600 dark:border-surface-600 lg:text-primary-600 dark:lg:text-surface-400"
          text
        />
      </div>
      <Divider />
    </div>
  </div>
</div>
